body {
    background: grey;
}

.card-new {
    border-radius: 0;
}

.vino {
    background: #134f88;
    color: white;
}

html, body {
    background-image: radial-gradient(circle at 22.26% 39.9%, #e6a92d 0, #ea9f27 12.5%, #ee9423 25%, #f18820 37.5%, #f37b1f 50%, #f56d21 62.5%, #f65e25 75%, #f84e2b 87.5%, #f93c32 100%);
    color: white;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}
.bg-color {
    color: black
}

label {
    color: black
}

.body-card {
    background-color:gainsboro;
    color: black;
}

.pdark {
    color: black
}

.link-a {
  color: white !important
}

.table-responsive {
    max-height: 60vh;
}